@model ContactsModel
@{
    ViewData["Title"] = "Create contact";
}

<div class="text-center">
    <h1 class="display-4">Create contact</h1>
</div>

<form asp-controller="Contact" asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for=Name class="form-control" placeholder="Enter contact name">
        @Html.ValidationMessageFor(x => x.Name)
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" asp-for=Email class="form-control" placeholder="Enter contact e-mail">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="form-group">
        <label for="cellphone">Cellphone</label>
        <input type="text" asp-for=Phone class="form-control" placeholder="Enter contact cellphone">
        @Html.ValidationMessageFor(x => x.Phone)
    </div>

    <button type="submit" class="btn btn-primary">
        Add
    </button>

    <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index">
        Back to page
    </a>
</form>