@model ContactsModel
@{
    ViewData["Title"] = "Edit contact";
}

<div class="text-center">
    <h1 class="display-4">Edit contact</h1>
</div>

<form asp-controller="Contact" asp-action="Edit" method="post" >

    <input type="hidden" asp-for="Id"/>

    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for=Name class="form-control" placeholder="Enter contact name">
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" asp-for=Email class="form-control" placeholder="Enter contact e-mail">
    </div>

    <div class="form-group">
        <label for="cellphone">Cellphone</label>
        <input type="text" asp-for=Phone class="form-control" placeholder="Enter contact cellphone">
    </div>

    <button type="submit" class="btn btn-primary">
        Edit
        </button>

    <a class="btn btn-secondary" asp-controller="Contact" asp-action="Index" role="button">
        Back to page
    </a>
</form>